<!doctype html>
<html lang="en">
<head>
<title>TrebleChef</title>
<link rel="icon" href="static/icon_chef.png">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
    crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" 
    crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" 
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" 
    crossorigin="anonymous"></script>

<!-- Google Fonts ~ Roboto Slab -->
<link href="https://fonts.googleapis.com/css2?family=Karla@1&family=Roboto+Slab&display=swap" rel="stylesheet"> 

<link rel="stylesheet" href="static/style.css">
<script type="text/javascript" src="static/script.js"></script>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#" 
        style="font-family: 'Roboto Slab', serif;">TREBLECHEF</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" 
        data-target="#navbarText" aria-controls="navbarText" 
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="canada.html">Canada</a>
        </li>
        </ul>
        <span class="navbar-text">Updated on {{date_str}}</span>
    </div>
</nav>

<main class="container-fluid pl-0 pr-0">

<div class="row ml-3 mr-3 mt-3">
<div class="col-lg-8 col-xl-8 mb-3">
<div class="card bg-dark">
<div class="card-header pl-1 mt-1" style="padding: 0; font-size: 0">
    <!-- <button type="button" class="region-button rb-active">Overall</button> -->
    <button type="button " class="region-button rb-tor rb-active">Toronto</button>
    <button type="button" class="region-button rb-mon">Montreal</button>
    <button type="button" class="region-button rb-wes">British Columbia</button>
    <button type="button" class="region-button rb-pra">Praries</button>
    <button type="button" class="region-button rb-ont">Ontario</button>
    <button type="button" class="region-button rb-que">Quebec</button>
    <button type="button" class="region-button rb-atl">Atlantic</button>
    <div class="dropdown float-right dropleft mt-1 mr-1" style="font-size: 1rem;">
        <a data-toggle="dropdown">
        <svg class="bi bi-three-dots-vertical" width="1em" height="1em" 
            viewBox="0 0 16 16" fill="currentColor" 
            xmlns="http://www.w3.org/2000/svg" style="cursor: pointer">
            <path fill-rule="evenodd" d="M9.5 13a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zm0-5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zm0-5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0z" clip-rule="evenodd"/>
        </svg></a>
        <div class="dropdown-menu" style="background-color:#3e454d; color:#fff;">
            <a class="dropdown-item toggle-genre" style="cursor: pointer">Show Genres</a>
        </div>
    </div>
</div>
<div class="card-body" style="font-size:0; text-align: center;">

<!---------------------------- BANDCAMP TORONTO ----------------------------->
<div class="card-region card-tor">
{% for result in results_tor[:25] %}
{% if loop.index <= 5 %}
<div class="container album-display pl-0 pr-0" style="width:18.8%">
{% elif loop.index <= 11 %}
<div class="container album-display pl-0 pr-0" style="width:15.66%">
{% else %}
<div class="container album-display pl-0 pr-0" style="width:13.43%">
{% endif %}
<a href="{{ result['url'] }}" target="_blank">
    <img src="{{ result['sp_img'] }}" width="100%">
</a>
<div class="genre-badge">
    <span class="badge badge-pill genre-{{result['genre'] | 
        replace ('hip-hop/rap','hiphop') | replace ('r&b/soul','rbsoul')}} ">
        {{result['genre']}}</span>
</div>
</div>
{% endfor %}
</div>

<!---------------------------- BANDCAMP MONTREAL ----------------------------->
<div class="card-region card-mon" style="display:none">
{% for result in results_mon[:25] %}
{% if loop.index <= 5 %}
<div class="container album-display pl-0 pr-0" style="width:18.8%">
{% elif loop.index <= 11 %}
<div class="container album-display pl-0 pr-0" style="width:15.66%">
{% else %}
<div class="container album-display pl-0 pr-0" style="width:13.43%">
{% endif %}
<a href="{{ result['url'] }}" target="_blank">
    <img src="{{ result['sp_img'] }}" width="100%">
</a>
<div class="genre-badge">
    <span class="badge badge-pill genre-{{result['genre'] | 
        replace ('hip-hop/rap','hiphop') | replace ('r&b/soul','rbsoul')}} ">
        {{result['genre']}}</span>
</div>
</div>
{% endfor %}
</div>

<!------------------------ BANDCAMP BRITISH COLUMBIA ------------------------->
<div class="card-region card-wes" style="display:none">
{% for result in results_wes[:25] %}
{% if loop.index <= 5 %}
<div class="container album-display pl-0 pr-0" style="width:18.8%">
{% elif loop.index <= 11 %}
<div class="container album-display pl-0 pr-0" style="width:15.66%">
{% else %}
<div class="container album-display pl-0 pr-0" style="width:13.43%">
{% endif %}
<a href="{{ result['url'] }}" target="_blank">
    <img src="{{ result['sp_img'] }}" width="100%">
</a>
<div class="genre-badge">
    <span class="badge badge-pill genre-{{result['genre'] | 
        replace ('hip-hop/rap','hiphop') | replace ('r&b/soul','rbsoul')}} ">
        {{result['genre']}}</span>
</div>
</div>
{% endfor %}
</div>

<!---------------------------- BANDCAMP PRARIES ----------------------------->
<div class="card-region card-pra" style="display:none">
{% for result in results_pra[:25] %}
{% if loop.index <= 5 %}
<div class="container album-display pl-0 pr-0" style="width:18.8%;">
{% elif loop.index <= 11 %}
<div class="container album-display pl-0 pr-0" style="width:15.66%;">
{% else %}
<div class="container album-display pl-0 pr-0" style="width:13.43%;">
{% endif %}
<a href="{{ result['url'] }}" target="_blank">
    <img src="{{ result['sp_img'] }}" width="100%">
</a>
<div class="genre-badge">
    <span class="badge badge-pill genre-{{result['genre'] | 
        replace ('hip-hop/rap','hiphop') | replace ('r&b/soul','rbsoul')}} ">
        {{result['genre']}}</span>
</div>
</div>
{% endfor %}
</div>

<!---------------------------- BANDCAMP ONTARIO ----------------------------->
<div class="card-region card-ont" style="display:none">
{% for result in results_ont[:25] %}
{% if loop.index <= 5 %}
<div class="container album-display pl-0 pr-0" style="width:18.8%;">
{% elif loop.index <= 11 %}
<div class="container album-display pl-0 pr-0" style="width:15.66%;">
{% else %}
<div class="container album-display pl-0 pr-0" style="width:13.43%;">
{% endif %}
<a href="{{ result['url'] }}" target="_blank">
    <img src="{{ result['sp_img'] }}" width="100%">
</a>
<div class="genre-badge">
    <span class="badge badge-pill genre-{{result['genre'] | 
        replace ('hip-hop/rap','hiphop') | replace ('r&b/soul','rbsoul')}} ">
        {{result['genre']}}</span>
</div>
</div>
{% endfor %}
</div>

<!---------------------------- BANDCAMP QUEBEC ----------------------------->
<div class="card-region card-que" style="display:none">
{% for result in results_que[:25] %}
{% if loop.index <= 5 %}
<div class="container album-display pl-0 pr-0" style="width:18.8%;">
{% elif loop.index <= 11 %}
<div class="container album-display pl-0 pr-0" style="width:15.66%;">
{% else %}
<div class="container album-display pl-0 pr-0" style="width:13.43%;">
{% endif %}
<a href="{{ result['url'] }}" target="_blank">
    <img src="{{ result['sp_img'] }}" width="100%">
</a>
<div class="genre-badge">
    <span class="badge badge-pill genre-{{result['genre'] | 
        replace ('hip-hop/rap','hiphop') | replace ('r&b/soul','rbsoul')}} ">
        {{result['genre']}}</span>
</div>
</div>
{% endfor %}
</div>

<!---------------------------- BANDCAMP ATLANTIC ----------------------------->
<div class="card-region card-atl" style="display:none">
{% for result in results_atl[:25] %}
{% if loop.index <= 5 %}
<div class="container album-display pl-0 pr-0" style="width:18.8%;">
{% elif loop.index <= 11 %}
<div class="container album-display pl-0 pr-0" style="width:15.66%;">
{% else %}
<div class="container album-display pl-0 pr-0" style="width:13.43%;">
{% endif %}
<a href="{{ result['url'] }}" target="_blank">
    <img src="{{ result['sp_img'] }}" width="100%">
</a>
<div class="genre-badge">
    <span class="badge badge-pill genre-{{result['genre'] | 
        replace ('hip-hop/rap','hiphop') | replace ('r&b/soul','rbsoul')}} ">
        {{result['genre']}}</span>
</div>
</div>
{% endfor %}
</div>

</div>
</div>
</div>

<!----------------------------------------------------------------------->
<!----------------------------------------------------------------------->
<!---------------------------- TOP RELEASES ----------------------------->
<!----------------------------------------------------------------------->
<!----------------------------------------------------------------------->

<div class="col-lg-4 col-xl-4">
<div class="card bg-dark">
<div class="card-body">
<table class="table table-sm mb-0">
<thead>
<tr>
    <th>Release</th>
    <th data-toggle="tooltip" title="Spotify Popularity (/100)">
        <object class="align-bottom" style="height:30px" 
            type="image/svg+xml" data="static/icon_spotify.svg">
    </th>
    <th data-toggle="tooltip" title="Treble Chef's Score (/100)">
        <!-- Retrieved from flaticon -->
        <object class="align-bottom" style="height:30px" 
            type="image/svg+xml" data="static/icon_chef.svg">
    </th>
</tr>
</thead>

<!---------------------------- BANDCAMP TORONTO ----------------------------->
<tbody class="card-top-release card-tor">
{% for result in results_tor[:5] %}
<tr>
    <td>
    <span style="font-size:1.1rem">
    <a href="https://open.spotify.com/artist/{{result['sp_artist_id']}}" 
        target="_blank" style="color: #ffffff;">{{result['artist']}}</a></span>
    <br/>
    <span style="color:#dedede; font-size:0.8rem">
    <a href="https://open.spotify.com/album/{{result['sp_album_id']}}" 
        target="_blank" style="color: #ffffff;">{{result['title']}}</a></span>
    </td>
    <td class="align-middle">{{result['sp_popularity']}}</td>
    <td class="align-middle">{{result['score']|round|int}}</td>
</tr>
{% endfor %}
</tbody>

<!---------------------------- BANDCAMP MONTREAL ----------------------------->
<tbody class="card-top-release card-mon" style="display:none">
{% for result in results_mon[:5] %}
<tr>
    <td>
    <span style="font-size:1.1rem">
    <a href="https://open.spotify.com/artist/{{result['sp_artist_id']}}" 
        target="_blank" style="color: #ffffff;">{{result['artist']}}</a></span>
    <br/>
    <span style="color:#dedede; font-size:0.8rem">
    <a href="https://open.spotify.com/album/{{result['sp_album_id']}}" 
        target="_blank" style="color: #ffffff;">{{result['title']}}</a></span>
    </td>
    <td class="align-middle">{{result['sp_popularity']}}</td>
    <td class="align-middle">{{result['score']|round|int}}</td>
</tr>
{% endfor %}
</tbody>

<!------------------------ BANDCAMP BRITISH COLUMBIA ------------------------->
<tbody class="card-top-release card-wes" style="display:none">
{% for result in results_wes[:5] %}
<tr>
    <td>
    <span style="font-size:1.1rem">
    <a href="https://open.spotify.com/artist/{{result['sp_artist_id']}}" 
        target="_blank" style="color: #ffffff;">{{result['artist']}}</a></span>
    <br/>
    <span style="color:#dedede; font-size:0.8rem">
    <a href="https://open.spotify.com/album/{{result['sp_album_id']}}" 
        target="_blank" style="color: #ffffff;">{{result['title']}}</a></span>
    </td>
    <td class="align-middle">{{result['sp_popularity']}}</td>
    <td class="align-middle">{{result['score']|round|int}}</td>
</tr>
{% endfor %}
</tbody>

<!---------------------------- BANDCAMP PRARIES  ----------------------------->
<tbody class="card-top-release card-pra" style="display:none">
{% for result in results_pra[:5] %}
<tr>
    <td>
    <span style="font-size:1.1rem">
    <a href="https://open.spotify.com/artist/{{result['sp_artist_id']}}" 
        target="_blank" style="color: #ffffff;">{{result['artist']}}</a></span>
    <br/>
    <span style="color:#dedede; font-size:0.8rem">
    <a href="https://open.spotify.com/album/{{result['sp_album_id']}}" 
        target="_blank" style="color: #ffffff;">{{result['title']}}</a></span>
    </td>
    <td class="align-middle">{{result['sp_popularity']}}</td>
    <td class="align-middle">{{result['score']|round|int}}</td>
</tr>
{% endfor %}
</tbody>

<!---------------------------- BANDCAMP ONTARIO  ----------------------------->
<tbody class="card-top-release card-ont" style="display:none">
{% for result in results_ont[:5] %}
<tr>
    <td>
    <span style="font-size:1.1rem">
    <a href="https://open.spotify.com/artist/{{result['sp_artist_id']}}" 
        target="_blank" style="color: #ffffff;">{{result['artist']}}</a></span>
    <br/>
    <span style="color:#dedede; font-size:0.8rem">
    <a href="https://open.spotify.com/album/{{result['sp_album_id']}}" 
        target="_blank" style="color: #ffffff;">{{result['title']}}</a></span>
    </td>
    <td class="align-middle">{{result['sp_popularity']}}</td>
    <td class="align-middle">{{result['score']|round|int}}</td>
</tr>
{% endfor %}
</tbody>

<!---------------------------- BANDCAMP QUEBEC  ----------------------------->
<tbody class="card-top-release card-que" style="display:none">
{% for result in results_que[:5] %}
<tr>
    <td>
    <span style="font-size:1.1rem">
    <a href="https://open.spotify.com/artist/{{result['sp_artist_id']}}" 
        target="_blank" style="color: #ffffff;">{{result['artist']}}</a></span>
    <br/>
    <span style="color:#dedede; font-size:0.8rem">
    <a href="https://open.spotify.com/album/{{result['sp_album_id']}}" 
        target="_blank" style="color: #ffffff;">{{result['title']}}</a></span>
    </td>
    <td class="align-middle">{{result['sp_popularity']}}</td>
    <td class="align-middle">{{result['score']|round|int}}</td>
</tr>
{% endfor %}
</tbody>

<!---------------------------- BANDCAMP ATLANTIC  ----------------------------->
<tbody class="card-top-release card-atl" style="display:none">
{% for result in results_atl[:5] %}
<tr>
    <td>
    <span style="font-size:1.1rem">
    <a href="https://open.spotify.com/artist/{{result['sp_artist_id']}}" 
        target="_blank" style="color: #ffffff;">{{result['artist']}}</a></span>
    <br/>
    <span style="color:#dedede; font-size:0.8rem">
    <a href="https://open.spotify.com/album/{{result['sp_album_id']}}" 
        target="_blank" style="color: #ffffff;">{{result['title']}}</a></span>
    </td>
    <td class="align-middle">{{result['sp_popularity']}}</td>
    <td class="align-middle">{{result['score']|round|int}}</td>
</tr>
{% endfor %}
</tbody>
</table>

</div>
</div>
</div>
</div>


</main>

</body>

</html>